a:hover, a:focus, a:active {
    text-decoration: none;
}

/*********************************************
*            Header styles
*********************************************/
nav {
    border-bottom: 1px solid #eee;
    background: #fcfcfc;
}

nav img {
    height: 50px;
    width: auto;
}

nav a {
    line-height: 50px;
    margin-left: 1.2em;
    color: #999;
    font-size: 1.1em;
}

nav a:hover {
    color: #333;
}

nav a.active {
    color: #333;
    border-bottom: 1px solid #aaa;
}

/*********************************************
*            List Styles
*********************************************/
h2 {
    margin-bottom: 1em;
}

.list .item > * {
    display: inline-block;
    margin-right: 1em;
}

.list .symbol {
    font-weight: bold;
    letter-spacing: 1px;
}

.list .item {
    padding: .8em;
}

.list .item:hover {
    cursor: pointer;
    background: #f6f6f6;
}

.list .up {
    color: green;
}

.list .down {
    color: red;
}

#quick-search {
    margin-bottom: 2em;
}

.signal-info {
    margin-bottom: 1em;
    padding: 0 .8em;
}

.signal-info span {
    display: inline-block;
    width: 100px;
}


.graph button {
    margin-left: 8px;
}